---
import "../styles/global.css";
import { Image } from "astro:assets";

import mobileBackground from "../assets/background.mobile@2x.webp";

import icon1 from "../assets/icons/1.svg?raw";
import icon2 from "../assets/icons/2.svg?raw";
import icon3 from "../assets/icons/3.svg?raw";

import str from "../assets/str.png";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <title>Jawablah beberapa pertanyaan dan dapatkan kelas coding gratis untuk anak Anda</title>
    <!-- Google Tag Manager -->
    <script is:inline>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-KR42WGP");
    </script>
    <!-- End Google Tag Manager -->
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KR42WGP" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="container">
      <div class="content">
        <div class="logo">
          <svg fill="none" viewBox="0 0 132 33" astro-icon="logo">
            <path
              fill="currentColor"
              fill-rule="evenodd"
              d="M0 0h132v25.929H20.429l-6.286 6.285-6.286-6.285H0V0Zm60.628 6.516a1.363 1.363 0 0 1-1.004.422c-.39 0-.732-.14-1.025-.422a1.458 1.458 0 0 1-.418-1.033c0-.394.14-.731.418-1.012.28-.296.62-.443 1.025-.443.405 0 .746.147 1.025.443.279.28.418.618.418 1.012s-.146.738-.439 1.033Zm-2.133 11.555v-9.8h2.259v9.8h-2.26ZM22.27 4.117v13.954h2.259V4.117H22.27ZM37.2 7.525h-2.217v1.561c-.851-1.223-2.064-1.835-3.64-1.835-1.478 0-2.726.534-3.744 1.603-1.017 1.055-1.526 2.334-1.526 3.839s.509 2.791 1.526 3.86c1.018 1.054 2.266 1.582 3.744 1.582 1.576 0 2.789-.612 3.64-1.835v1.286c0 .914-.28 1.624-.837 2.13-.544.52-1.304.781-2.28.781-1.492 0-2.51-.541-3.053-1.624l-1.946 1.139c.893 1.701 2.545 2.552 4.957 2.552 1.492 0 2.761-.429 3.807-1.287 1.046-.857 1.569-2.088 1.569-3.69V7.524Zm-5.543 8.48c-.948 0-1.743-.317-2.384-.95-.628-.633-.942-1.42-.942-2.362 0-.942.314-1.73.942-2.362.641-.633 1.436-.95 2.384-.95s1.736.317 2.363.95c.642.632.963 1.42.963 2.362 0 .942-.321 1.73-.962 2.362-.628.633-1.416.95-2.364.95Zm12.618 2.34c-1.534 0-2.837-.534-3.911-1.602-1.074-1.07-1.61-2.384-1.61-3.945 0-1.56.536-2.875 1.61-3.944s2.377-1.603 3.911-1.603c1.548 0 2.852.534 3.911 1.603 1.074 1.069 1.61 2.384 1.61 3.944 0 1.561-.536 2.876-1.61 3.945-1.06 1.068-2.363 1.603-3.91 1.603Zm-2.321-3.163c.627.633 1.4.949 2.321.949.92 0 1.694-.316 2.322-.95.627-.632.941-1.426.941-2.383 0-.956-.314-1.75-.941-2.383-.628-.633-1.401-.95-2.322-.95-.92 0-1.694.317-2.321.95-.628.633-.942 1.427-.942 2.383 0 .957.314 1.751.942 2.384Zm14.872-7.847c-1.576 0-2.65.654-3.221 1.962V7.525h-2.259v10.546h2.259v-5.315c0-1.083.32-1.856.962-2.32.641-.478 1.394-.689 2.259-.633V7.335Zm9.792 2.384h2.594V7.525h-2.594V4.572l-2.258.675v2.278h-1.925V9.72h1.924v5.062c0 1.378.377 2.327 1.13 2.847.753.507 1.994.654 3.723.443v-2.046c-.572.029-1.053.036-1.443.022-.377-.029-.663-.134-.858-.317-.195-.197-.293-.513-.293-.949V9.719ZM76.761 7.25c1.2 0 2.169.387 2.908 1.16.739.774 1.108 1.835 1.108 3.185v6.475h-2.259v-6.243c0-.787-.209-1.392-.627-1.814-.419-.422-.99-.633-1.715-.633-.795 0-1.436.253-1.925.76-.488.492-.732 1.251-.732 2.278v5.652h-2.258V4.117h2.258v4.758c.684-1.083 1.764-1.624 3.242-1.624Zm24.794-.313c.39 0 .725-.14 1.004-.422.293-.295.439-.64.439-1.033 0-.394-.139-.731-.418-1.012a1.356 1.356 0 0 0-1.025-.443c-.405 0-.746.147-1.025.443a1.386 1.386 0 0 0-.418 1.012c0 .394.139.738.418 1.033.293.282.634.422 1.025.422Zm-1.13 1.333v9.8h2.259v-9.8h-2.259Zm-6.067-1.02c1.186 0 2.14.387 2.866 1.16.725.774 1.087 1.814 1.087 3.122v6.538h-2.259v-6.39c0-.732-.18-1.294-.543-1.688-.363-.408-.858-.612-1.485-.612-.698 0-1.255.232-1.674.696-.404.464-.606 1.16-.606 2.089v5.905h-2.259v-6.39c0-.732-.174-1.294-.523-1.688-.335-.408-.816-.612-1.443-.612-.683 0-1.24.24-1.673.717-.432.464-.649 1.154-.649 2.068v5.905H82.94V7.525h2.258v1.266c.67-1.027 1.667-1.54 2.991-1.54 1.339 0 2.329.555 2.97 1.666.698-1.11 1.764-1.666 3.2-1.666Zm11.766 9.492c1.06 1.068 2.378 1.603 3.953 1.603 1.018 0 1.945-.246 2.782-.739a4.993 4.993 0 0 0 1.924-2.003l-1.945-1.118a2.862 2.862 0 0 1-1.129 1.18 3.13 3.13 0 0 1-1.653.444c-.92 0-1.694-.316-2.321-.95-.614-.632-.921-1.42-.921-2.362 0-.942.307-1.73.921-2.362.627-.633 1.401-.95 2.321-.95.628 0 1.179.148 1.653.444.488.281.85.675 1.087 1.18l1.945-1.138c-.418-.83-1.045-1.49-1.882-1.983a5.386 5.386 0 0 0-2.782-.738c-1.575 0-2.893.534-3.953 1.603-1.045 1.055-1.568 2.37-1.568 3.944 0 1.561.523 2.876 1.568 3.945Zm12.013-6.307c0 .351.188.633.565.844.39.197.857.372 1.401.527.558.14 1.115.31 1.673.506a3.04 3.04 0 0 1 1.401 1.013c.391.464.586 1.054.586 1.771 0 1.013-.39 1.807-1.171 2.384-.767.576-1.736.865-2.907.865-1.032 0-1.918-.218-2.657-.654a3.82 3.82 0 0 1-1.61-1.814l1.945-1.14c.362 1.013 1.136 1.52 2.322 1.52 1.185 0 1.777-.394 1.777-1.182 0-.337-.195-.611-.585-.822-.377-.211-.844-.387-1.402-.528a28.128 28.128 0 0 1-1.652-.527 3.31 3.31 0 0 1-1.422-.97c-.377-.464-.565-1.048-.565-1.75 0-.971.363-1.752 1.088-2.342.739-.59 1.652-.886 2.74-.886.864 0 1.631.197 2.3.59.684.38 1.206.915 1.569 1.604l-1.903 1.075c-.363-.801-1.018-1.202-1.966-1.202-.433 0-.795.099-1.088.295-.293.183-.439.457-.439.823ZM16.968 15.098l1.258 2.972h2.55L15.372 4.06h-2.456L7.51 18.07h2.571l1.237-2.972h5.65Zm-.737-2.277h-4.176l2.088-5.889 2.088 5.889Z"
              clip-rule="evenodd"></path>
          </svg>
        </div>

        <div class="about">
          <Image class="background" src={mobileBackground} alt="Dapatkan pelajaran pemrograman gratis untuk anak Anda dalam 4 langkah" />
          <div id="text" class="text">
            <div class="title">Dapatkan pelajaran pemrograman gratis untuk anak Anda dalam 4 langkah</div>
            <div class="description">
              <div>
                <Fragment set:html={icon1} />
                 Untuk anak usia 5-17 tahun
              </div>
              <div>
                <Fragment set:html={icon2} />
                 Membuat proyek IT kecil pertamanya
              </div>
              <div>
                <Fragment set:html={icon3} />
                 Membahas pengalaman dan hobi anak
              </div>
              <button id="button" style="width: 341px" class="large is-animated">Mulai</button>
            </div>
          </div>
          <div id="text--after" class="text d-none">
            <div class="title">
              Hanya 1 menit untuk mengisi!
              <br />
               Daftarkan segera anak Anda untuk Kelas Percobaan Gratis
              <div>
                <Image src={str} width={300} alt="Hanya 1 menit untuk mengisi!" />
              </div>
            </div>
          </div>
        </div>

        <div id="carrot-box">
          <div id="carrot-embedded-loader" data-widget-id="1547069383912719745">
            <svg style="width:100px;height:100px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" xml:space="preserve">
              <path fill="#4747d1" d="M73 50c0-12.7-10.3-23-23-23S27 37.3 27 50m3.9 0c0-10.5 8.5-19.1 19.1-19.1S69.1 39.5 69.1 50">
                <animateTransform attributeName="transform" attributeType="XML" type="rotate" dur="1s" from="0 50 50" to="360 50 50" repeatCount="indefinite"></animateTransform>
              </path>
            </svg>
            <div class="loader">
              <p>Mengunggah pertanyaan untuk membantu kami membuat program pelatihan yang sempurna untuk Anda, terima kasih telah menunggu!</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Show bot -->
    <script>
      const button = document.getElementById("button");
      if (button) button.style.display = "block";

      button?.addEventListener("click", () => {
        document.getElementById("carrot-box")?.classList.add("active");
        document.getElementById("text")?.classList.add("d-none");
        document.getElementById("text--after")?.classList.remove("d-none");
      });
    </script>

    <!-- Dashly -->
    <script type="text/javascript">
      !(function () {
        function t(t, e) {
          return function () {
            window.dashlyasync.push(t, arguments);
          };
        }
        if ("undefined" == typeof dashly) {
          var e = document.createElement("script");
          (e.type = "text/javascript"),
            (e.async = !0),
            (e.src = "https://cdn.dashly.app/api.min.js"),
            document.getElementsByTagName("head")[0].appendChild(e),
            (window.dashly = {}),
            (window.dashlyasync = []),
            (dashly.settings = {});
          for (var n = ["connect", "track", "identify", "auth", "onReady", "addCallback", "removeCallback", "trackMessageInteraction"], a = 0; a < n.length; a++) dashly[n[a]] = t(n[a]);
        }
      })(),
        dashly.connect("7397-21bade4da25d30fc856f8f18b66");
    </script>

    <!-- Yandex metrika -->
    <script type="text/javascript" id="">
      (function (a, e, f, g, b, c, d) {
        a[b] =
          a[b] ||
          function () {
            (a[b].a = a[b].a || []).push(arguments);
          };
        a[b].l = 1 * new Date();
        c = e.createElement(f);
        d = e.getElementsByTagName(f)[0];
        c.async = 1;
        c.src = g;
        d.parentNode.insertBefore(c, d);
      })(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
      ym(89634730, "init", { clickmap: !0, trackLinks: !0, accurateTrackBounce: !0, webvisor: !0 });
    </script>
    <noscript>
      <div><img src="https://mc.yandex.ru/watch/89634730" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>

    <!-- Facebook -->
    <script type="text/javascript" id="">
      !(function (b, e, f, g, a, c, d) {
        b.fbq ||
          ((a = b.fbq =
            function () {
              a.callMethod ? a.callMethod.apply(a, arguments) : a.queue.push(arguments);
            }),
          b._fbq || (b._fbq = a),
          (a.push = a),
          (a.loaded = !0),
          (a.version = "2.0"),
          (a.queue = []),
          (c = e.createElement(f)),
          (c.async = !0),
          (c.src = g),
          (d = e.getElementsByTagName(f)[0]),
          d.parentNode.insertBefore(c, d));
      })(window, document, "script", "https://connect.facebook.net/en_US/fbevents.js");
      fbq("init", "1152940395642591");
      fbq("track", "PageView");
    </script>
    <noscript><img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1152940395642591&ev=PageView&noscript=1" /></noscript>
  </body>
</html>
